{% extends 'base.html' %}
{% block body %}
<h1 class="mb-4">Iniciar Projeto</h1>
<div class="row">
  <div class="col-md-4">
    <h4>Aguardando separação</h4>
    <ul class="list-group mb-4">
      {% for s in analise %}
      <li class="list-group-item">#{{ s.id }} - {{ s.obra }}</li>
      {% else %}
      <li class="list-group-item text-muted">Nenhum projeto.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Separado</h4>
    <ul class="list-group mb-4">
      {% for s in aprovado %}
      <li class="list-group-item">
        #{{ s.id }} - {{ s.obra }}
        {% if s.pendencias_list %}
        <small class="d-block text-muted">Material Separado com 80% da lista</small>
        {% else %}
        <small class="d-block text-muted">Material separado completo</small>
        {% endif %}
      </li>
      {% else %}
      <li class="list-group-item text-muted">Nenhum projeto.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Pendente em compras</h4>
    <ul class="list-group mb-4">
      {% for s in compras %}
      <li class="list-group-item">#{{ s.id }} - {{ s.obra }}</li>
      {% else %}
      <li class="list-group-item text-muted">Nenhum projeto.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
